# .coveragerc to control coverage
# see http://nedbatchelder.com/code/coverage/config.html

[run]
branch = True
source_pkgs =
    spreadflow_thumbor
omit =
    /tmp/**
    spreadflow_thumbor/test/**

[report]
omit =
    /tmp/**
    spreadflow_thumbor/test/**
